:root {
    --sk-size: 250px;
    --sk-color: #d86744;
}
.preloader {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
}
[dir] .preloader {
    background: #fff;
}


.preloader-inner {
    position: relative;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.preloader-inner img {
    display: block;
    width: 230px;
    max-width: 100%;
    position: absolute;
    z-index: -1;
}